tweepy
pandas
nltk
pytz
tzwhere
countryinfo
translate
transformers
flask
flask_sqlalchemy
sqlalchemy
apscheduler
--user --upgrade git+https://github.com/twintproject/twint.git@origin/master#egg=twint
