<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>DeepNewz</title>
        <link rel="stylesheet" href="static/css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,300&display=swap" rel='stylesheet' type='text/css'>
    </head>

<body>
    <div class="base">    
        <div class="topbar">
            <span class="app-name">
                <div class="app">
                    <div class="name">DeepNewz</div>
                    <div class="desc">News from the Web analyzed by AI</div>
                </div>
            </span>
            <span class="menu">
                <div class="preferences">
                    <div class="preferences-title">Type of news</div>
                    <div class="preferences-objects">
                        <label>
                            <li class="positive" style="list-style-type:none;">
                                <input type="radio" class="radio-pos" checked/>  
                                <div id="POS" class="pref" style="text-decoration:none;">Positive</div>  
                            </li>
                        </label>
                        <label>
                            <li class="neutral" style="list-style-type:none;" >
                                <input type="radio" class="radio-neu" checked/>
                                <div id="NEU" class="pref" style="text-decoration:none;">Neutral</div>  
                            </li>
                        </label>
                        <label>
                            <li class="negative" style="list-style-type:none;" >
                                <input type="radio" class="radio-neg"/>
                                <div id="NEG" class="pref" style="text-decoration:none;">Negative</div>
                            </li>  
                        </label>
                    </div>
                </div>
                <div class="drop-down">
                    <div class="drop-down-title">Select a country</div>
                    <div class="drop-down-objects" id="drop-down-objects">
                        {% for country in countries %}
                        <label>
                            <input type="radio" class="radio-{{ country }}"/>
                            <div class="country" id="{{country}}" style="text-decoration:none;">{{ country }}</div>
                        </label>
                        {% endfor %}
                    </div>
                </div>
            </span>
        </div>
        <div class="feed" id="feed">
            {% if data['init'] %}
            <label>
                <input type="button" class="refresh" style="display: none;"/>
                <div id="refresh" style="animation: 0.4s ease-out 0s pop;" onclick="refresh()">{{ data['feed_message'] }}</div>
            </label>
            <div class="boxes">
                {% for index, summary, sentiment, date, title in data['cache'] %}
                <div class="box s-{{ sentiment }}" style="animation: 0.4s ease-out 0s pop;">
                    <h2>{{ title }}</h2>
                    <p>{{ summary }}</p>
                    <div class="date">Created at {{ date }}</div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
    <script src="../static/js/JQuery.js"></script>
    <script src="../static/js/app.js"></script>
</body>
</html>